@model IEnumerable<Recommendations.Models.Book>

@{
    ViewData["Title"] = "Book Recommendations";
}

<div class="jumbotron">
    <h1>@ViewData["Title"]</h1>
    <p>A catalog of books with author, publisher and year of publication</p>
    <p>Click a book to see details and recommendations</p>
</div>

@foreach (var book in Model)
{
    <p><a asp-action="Book" asp-controller="Home" asp-route-id="@book.Id"><strong>@book.Title</strong> (@book.Author, @book.Year, @book.Publisher)</a></p>
}
