@model IEnumerable<Recommendations.Models.Book>

@{
    ViewData["Title"] = "Home Page";
}

@foreach (var book in Model)
{
    <p><a asp-action="Book" asp-controller="Home" asp-route-id="@book.Id"><strong>@book.Title</strong> (@book.Author, @book.Year, @book.Publisher)</a></p>
}
