@model CustomVision.ViewModel.IndexViewModel

@{
    ViewData["Title"] = "Makaton to English Translator";
}

<div class="row">
    <div class="col-md-12">
        <form asp-action="Index" enctype="multipart/form-data">
            <div class="form-group">
                <label for="exampleInputFile">File</label>
                <input type="file" name="file" id="file">
                <p class="help-block">Select a photo of a person doing a Makaton sign (Sleep, Daddy, OK, Naughty, Rabbit).</p>
            </div>
            <div class="form-group">
                <input type="submit" value="Upload" class="btn btn-default" />
            </div>
        </form>
        @if (ViewData["message"] != null)
        {
        <p class="warning">@ViewData["message"]</p>
        }
    </div>
</div>
@if (Model != null)
{
    <hr />
    <div class="row">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Your Photo</h3>
                    </div>
                    <div class="panel-body">
                        <img src="@Model.Image" class="img-responsive" alt="A photo of someone performing the @Model.PredictionResult.Predictions.FirstOrDefault().Tag Makaton sign" />
                    </div>
                </div>
            </div>
        @foreach (var prediction in Model.PredictionResult.Predictions.Where(x => x.Probability > 0.1))
        {
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">@prediction.Tag (@(Math.Round(prediction.Probability, 2) * 100)% likely)</h3>
                    </div>
                    <div class="panel-body">
                        <img src="~/images/Makaton/@(prediction.Tag).tif" height="300"  alt="@prediction.Tag" class="img-responsive" />
                    </div>
                </div>
            </div>
        }
    </div>
}

