@model PersonGroupSample.ViewModels.PersonGroupDetails

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#details" aria-controls="details" role="tab" data-toggle="tab">Details</a></li>
        <li role="presentation"><a href="#training" aria-controls="training" role="tab" data-toggle="tab">Training</a></li>
        <li role="presentation"><a href="#people" aria-controls="people" role="tab" data-toggle="tab">People</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="details">
            <h4>Details</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.PersonGroup.personGroupId)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.PersonGroup.personGroupId)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.PersonGroup.name)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.PersonGroup.name)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.PersonGroup.userData)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.PersonGroup.userData)
                </dd>
            </dl>
        </div>
        <div role="tabpanel" class="tab-pane" id="training">
            <h4>Training</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    createdDateTime
                </dt>
                <dd>
                    @Model.TrainingStatus.createdDateTime
                </dd>
                <dt>
                    lastActionDateTime
                </dt>
                <dd>
                    @Model.TrainingStatus.lastActionDateTime
                </dd>
                <dt>
                    message
                </dt>
                <dd>
                    @Model.TrainingStatus.message
                </dd>
                <dt>
                    status
                </dt>
                <dd>
                    @Model.TrainingStatus.status
                </dd>
            </dl>
        </div>
        <div role="tabpanel" class="tab-pane" id="people">
            <h4>People</h4>
            <hr />
            @foreach (var person in Model.People)
            { 
                <a asp-controller="Person" asp-action="Details" asp-route-id="@person.personId">@person.name (@person.personId)</a>
                <br />
            }
            <br />
            <a asp-controller="Person" asp-action="Create" asp-route-PersonGroupId="@Model.PersonGroup.personGroupId" class="btn btn-default">Create Person</a>
        </div>
    </div>

</div>

<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PersonGroup.personGroupId }) |
    <a asp-action="Index">Back to List</a>
</div>
