@model IEnumerable<PersonGroupSample.Models.PersonGroup>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.personGroupId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.userData)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.personGroupId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.userData)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.personGroupId }) |
                @Html.ActionLink("Details", "Details", new { id = item.personGroupId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.personGroupId }) |
                @Html.ActionLink("Train", "Train", new { id = item.personGroupId })
            </td>
        </tr>
}
    </tbody>
</table>
